<!DOCTYPE html>
<html>
  <head>
    <title>Toys Island - Pusat Grosir dan Ecer Boneka</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Pusat Grosir dan Ecer Boneka">
    <meta name="author" content="Toys Island">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/soon.css">
    <!--STYLES END-->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  </head>

  <body class="nomobile">
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/soon/plugins.js"></script>
    <script src="/js/soon/jquery.themepunch.revolution.min.js"></script>
    <script src="/js/soon/custom.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
